body{
    background-color: beige;
    font-family: sans-serif;
}

.post-img{
    width: 100px;
    height: 100px;
}

.blog-post-card {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 400px;
    height: auto;
}

.post-content{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    width: 400px;
    height: auto;
}