body{
    background-color: darkgrayx;
    font-family: sans-serif;
    background-size: contain;
}

.post-img{
    width: 300px;
    border-radius: 20px;
    border-bottom: 2px solid black;
}

.blog-post-card {
    background-color: beige;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-radius: 20px;
}

.post-content{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.post-title{
    font-size: x-large;
    margin: 20px;
}

.post-para{
    text-align: center;
    margin: 20px;
}

.read-more{
  display: inline-block;
  background-color: #333333;
  color: white;
  padding: 12px; 
  text-decoration: none;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.read-more:hover{
    background-color: #062a3c;
}

