body{
    background-color: #bc8f8f;
    font-family: Arial, sans-serif;
}

.business_card{
    display: block;
    text-align: center;
    width: 300px;
    background-color: beige;
    border: 1px solid black;
    padding: 20px;
    margin-top: 100px;
    font-size: 16px;
    margin-left: auto;
    margin-right: auto;
}

.profile_image{
    max-width: 100%;
}

.social_media{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}