body{
    display: block;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.main_content{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

hr{
    width: 80%;
    border: 2px solid black;
}

section{
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    padding: 20px;
}