.heading{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #f0f0f0;
    color: #333333;
}

.heading{
    text-align: center;
}

.todo-list{
    width: 400px;
    height: auto;
    display: block;
    text-align: left;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

.store_link{
    background-color: #e5f1e5;
    width: 300px;
    text-decoration: nones;
    list-style: inside;
    margin-bottom: 15px;
    list-style: square;
}

.req_access{
    width: 300px;
    background-color: #e5f1e5;
    text-decoration: nones;
    list-style: inside;
    margin-bottom: 15px;
    list-style: square;
}

.view_receipts{
    width: 300px;
    background-color: #e5f1e5;
    text-decoration: nones;
    list-style: inside;
    margin-bottom: 15px;
    list-style: square;
}

.view_number{
    width: 300px;
    background-color: #e5f1e5;
    text-decoration: nones;
    list-style: inside;
    margin-bottom: 20px;
    list-style: square;
}

.sub-item{
    display: block;
    text-align: center;
    margin-top: 10px;
}